:root {
    --body-background-color: #1b1b1f;
    --body-text-color: #fff;
    --card-background-color: rgb(182 210 255 / 9%);
    --nav-background-color: #1b1b1f;
    --nav-border-bottom-color: rgb(0 0 0 / 30%);
    --nav-current-border-bottom-color: #4c90ff;
    --card-border-color: transparent;
    --color-primary: #4c90ff;
    --tag-color: #fff;
    --tag-up-background-color: #086d38;
    --tag-down-background-color: #b12828;
    --tag-degraded-background-color: #8f6b00;
}

.logo {
    font-size: 1.3rem;
}

article.down-active {
    border-color: transparent;
}

.tag {
    padding: 0.53rem 0.5rem;
    font-size: 1rem;
}

span.subtext {
    font-size: 0.8em;
}

a {
    text-decoration: none;
}

nav {
    padding: 1rem !important;
}

nav a.logo {
    padding: 0 !important;
}

nav ul li {
    padding: 0.5rem 1.5rem;
}

nav ul li a {
    padding: 0.2rem 0 !important;
    font-weight: normal;
}